$base-color: white;
$base-gradient: glossy;
$include-default-icons: false;
$font-family: 'Helvetica Neue';

$contrast-color: #63a0d0; //#6c9804;
$confirm-color: #799D54;
$alert-color: #B0886D;
$neutral-color: $base-color;
$active-color: #3498db;
$gray-color: #5c5c5c;
$red-color : red;


$form-bg-color: $base-color;
$form-light: #e8eeef;

$page-bg-color: $base-color;
$sheet-bg-color: $base-color;


$white-base-text: black;
$black-base-text: white;

$disabled-color: #D3D3D3;
$text-base-color: white;

// throw out default pictos font
//$include-pictos-font: true;
$include-default-icons: true;
$pathmenu-base-color: $contrast-color;
$pathmenu-icon-color: white;

$button-color: #16a085;
//$button-border: none !default;
$button-background-focus: lighten($contrast-color, 4%) !default;
//$button-font-size: 1.3rem !default;
//$button-height: 50px !default;
//$button-padding: 2 2rem !default;
//$button-radius: 28px !default;

$button-icon: white;
$button-border-color : #0077B5;
$button-base-color : #1770B6; //$contrast-color;
$button-hover-color : $active-color;
$button-text-color: #0077B5; //set-text-color($button-color);
$button-toolbar: #4bc970;


// throw out default pictos font
$include-pictos-font: true;
$include-default-icons: true;

// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/bb10';
@import 'sencha-touch/bb10/all';
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..
@import 'pathmenu';
// Examples of using the icon mixin:
// @include icon('user');
//@import "fonts";
@import 'titlebar';
@import "chat";
@import "fileup";

@include sencha-toolbar-ui('white', #FFFFFF, 'glossy');
@include sencha-button-ui('white', #FFFFFF,'glossy');

@include sencha-toolbar-ui('pink', #333, 'matte');

@mixin pictos-icon($name) {
  .x-button-icon.#{$name},
  .x-button .x-button-icon.x-icon-mask.#{$name} {
    background-image: theme_image($theme-name, "pictos/" + $name + ".png");
  }
}

@include icon('add');
@include icon('cloud');
@include icon('user');
@include icon('table');
@include icon('check2');
@include icon('refresh');
@include icon('arrow_left');
@include icon('arrow_right');
@include icon('arrow_down');
@include icon('arrow_up');
@include icon('trash');
@include icon('maps');

@include icon("home");
@include icon("team");
@include icon("mail");
@include icon("search");
@include icon("tags");

// patch for ugly loadmask in ST 2.3
.x-mask {
	.x-mask-inner {
		background: rgba(black, .4);
		@include border-radius(.5em);
	}
	
	.x-mask-message {
		bottom: 1em;
		color: white;
	}
	
	&.x-has-message {
		.x-loading-spinner-outer {
			height: 6em;
		}
	}
}

//LOADING SPINNER FIX
@keyframes x-loading-spinner-rotate {
    0%{     transform: rotate(0deg);   }
    8.32%{  transform: rotate(0deg);   }

    8.33%{  transform: rotate(30deg);  }
    16.65%{ transform: rotate(30deg);  }

    16.66%{ transform: rotate(60deg);  }
    24.99%{ transform: rotate(60deg);  }

    25%{    transform: rotate(90deg);  }
    33.32%{ transform: rotate(90deg);  }

    33.33%{ transform: rotate(120deg); }
    41.65%{ transform: rotate(120deg); }

    41.66%{ transform: rotate(150deg); }
    49.99%{ transform: rotate(150deg); }

    50%{    transform: rotate(180deg); }
    58.32%{ transform: rotate(180deg); }

    58.33%{ transform: rotate(210deg); }
    66.65%{ transform: rotate(210deg); }

    66.66%{ transform: rotate(240deg); }
    74.99%{ transform: rotate(240deg); }

    75%{    transform: rotate(270deg); }
    83.32%{ transform: rotate(270deg); }

    83.33%{ transform: rotate(300deg); }
    91.65%{ transform: rotate(300deg); }

    91.66%{ transform: rotate(330deg); }
    100%{   transform: rotate(330deg); }
}