.x-tabbar {
  border: none;
  background: $base-color;
  .x-tab {
    background: none;
    border: none;
    .x-button-label {
      color: gray;
      padding: 10px 15px;
      text-align: center;
      font-size: 13px
    }
    &.x-tab-active {
      .x-button-label {
        color: black;
      }
    }
  }
}