@CHARSET "UTF-8";
#sddm
{	margin: 0;
	padding: 0;
	z-index: 9999;
	color: white;
}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}
#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: auto;
	background: none; /*#5970B2;*/
	color: #FFF;
	text-align: center;
	text-decoration: none;
}
#sddm li a.active:after {
    display: inline-block;
  	width: 0px;
  	height: 0px;
  	margin-left: 2px;
  	vertical-align: middle;
  	border-bottom: none;
  	border-top: 4px solid #FFFFFF;
  	border-right: 4px solid transparent;
  	border-left: 4px solid transparent;
  	border-bottom-width: 0px;
  	border-bottom-style: dotted;
  	content: "";
}
#sddm li a.active {
    background: #5970B2;
}

#sddm li a.active:hover {
    background: #49A3FF;
}

#sddm li a:hover
{	background: #49A3FF}

#sddm li .arrow-down {
	position: relative;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid red;
  border-width: 12px 5px 0 5px;
}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: ghostwhite; /*#EAEBD8;*/
	border: 1px solid #5970B2
}
#sddm div a.divider{
	margin-top:2px;
    border-top:1px solid #888a85;
    padding:0;
}

#sddm div a
{	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: ghostwhite; /*#EAEBD8;*/
	color: black; /*#2875DE;*/
	font: 11px arial}

#sddm div a:hover
{	background: #49A3FF;
	color: #FFF;
}

.caret_up1 {
    display: inline-block;
  	width: 0px;
  	height: 0px;
  	margin-left: 2px;
  	vertical-align: middle;
  	border-top: none;
  	border-bottom: 4px solid #000000;
  	border-right: 4px solid transparent;
  	border-left: 4px solid transparent;
  	border-top-width: 0px;
  	border-top-style: dotted;
  	content: "";
}
.caret_down1 {
    display: inline-block;
  	width: 0px;
  	height: 0px;
  	margin-left: 2px;
  	vertical-align: middle;
  	border-bottom: none;
  	border-top: 4px solid #000000;
  	border-right: 4px solid transparent;
  	border-left: 4px solid transparent;
  	border-bottom-width: 0px;
  	border-bottom-style: dotted;
  	content: "";
}
#sddm_nav {
	background: black; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left, black , ghostwhite); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, black, ghostwhite); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, black, ghostwhite); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, black , ghostwhite); /* Standard syntax */
}

